*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

abbr[data-bs-original-title],
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

ul {
  list-style-type: none;
}

dt {
  font-weight: 700;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img {
  display: block;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border: none;
  background: none;
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

* {
  font-family: monospace;
}

body {
  padding: 40px 20px;
  font-size: 20px;
  line-height: 1.5;
  font-family: monospace;
  color: darkcyan;
  font-weight: 400;
}

.title {
  width: 100%;
  font-size: 36px;
  color: darkcyan;
  text-align: left;
  margin-bottom: 48px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background: darkcyan;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  margin: 0 auto 24px 0;
  transition: all 0.4s;
}

.back:hover {
  transform: translateY(-2px);
}

.time-func__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.time-func__element {
  text-transform: uppercase;
  padding: 16px 20px;
  background: darkcyan;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  width: 20%;
  transition: width 3s;
}

.time-func__element div:first-child {
  white-space: nowrap;
  display: block;
  margin-right: 50px;
}

.time-func__element div:last-child {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: all 0.5s 1s;
}

.time-func__element:hover {
  cursor: pointer;
  width: 100%;
}

.time-func__element:hover div:last-child {
  opacity: 1;
}

.time-func__element#ease {
  transition-timing-function: ease;
}

.time-func__element#linear {
  transition-timing-function: linear;
}

.time-func__element#ease-in {
  transition-timing-function: ease-in;
}

.time-func__element#ease-out {
  transition-timing-function: ease-out;
}

.time-func__element#ease-in-out {
  transition-timing-function: ease-in-out;
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  text-align: center;
  background: none;
  border: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
}

#rotate {
  border: 2px solid darkcyan;
  transition: color 0.8s;
}

#rotate:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: all 0.5s;
}

#rotate:hover {
  color: #fff;
}

#rotate:hover:before {
  transform: rotate(0deg);
}

#swipe {
  border: 2px solid darkcyan;
  transition: color 0.5s;
}

#swipe:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transform: translateY(-100%);
  transition: all 0.5s;
}

#swipe:hover {
  color: #fff;
}

#swipe:hover:before {
  transform: translateY(0);
}

#cross {
  border: 2px solid darkcyan;
  transition: color 0.5s;
}

#cross:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transition: all 0.5s;
  transform: rotateX(90deg);
}

#cross:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transition: all 0.5s;
  transform: rotateY(90deg);
}

#cross:hover {
  color: #fff;
}

#cross:hover:before {
  transform: rotateX(0deg);
}

#cross:hover:after {
  transform: rotateY(0deg);
}

#stretching {
  letter-spacing: 0;
  font-weight: 400;
  outline: 2px solid darkcyan;
  transition: all 0.5s;
}

#stretching:hover {
  letter-spacing: 2px;
  font-weight: 900;
  outline: 4px solid darkcyan;
}

#text {
  border: 2px solid darkcyan;
  transition: color 0.5s;
}

#text:before {
  content: "cool";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  transform: translateY(-100%);
  transition: all 0.5s;
}

#text:hover {
  color: #fff;
}

#text:hover:before {
  transform: translateY(0);
}

#text {
  border: 2px solid darkcyan;
  transition: color 0.5s;
}

#text:before {
  content: "cool";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

#text:hover {
  color: #fff;
}

#text:hover:before {
  transform: translateY(0);
}

#glowing {
  color: darkcyan;
  border: 2px solid darkcyan;
  background: white;
  transition: all 0.5s;
}

#glowing:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24px;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.5s;
}

#glowing:hover {
  color: white;
  background: darkcyan;
}

#glowing:hover:before {
  transform: translateX(100%) rotate(45deg);
}

#layers {
  background: darkcyan;
  transition: all 0.5s;
  color: transparent;
  border: 2px solid darkcyan;
}

#layers:before,
#layers:after {
  content: "layers effect";
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkcyan;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: all 0.5s;
}

#layers:after {
  transform: translate(-100%, 100%);
}

#layers:hover:before {
  transform: translate(100%, -100%);
}

#layers:hover:after {
  transform: translate(0, 0);
}

#scaling {
  transition: all 0.5s;
  color: darkcyan;
  border: 2px solid darkcyan;
}

#scaling:before {
  content: "scaling effect";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  transition: all 0.5s;
  transform: scale(5);
  opacity: 0;
}

#scaling:hover:before {
  opacity: 1;
  transform: scale(1);
}

#circle {
  transition: all 0.5s;
  color: darkcyan;
  border: 2px solid darkcyan;
}

#circle:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: darkcyan;
  transition: all 0.5s;
  border-radius: 100% 100% 0 0;
  z-index: -1;
}

#circle:hover {
  color: white;
}

#circle:hover:before {
  height: 200%;
}

#swapping {
  border: 2px solid darkcyan;
  color: transparent;
}

#swapping:before,
#swapping:after {
  content: "swapping effect";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkcyan;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

#swapping:before {
  left: 0;
  opacity: 1;
  transform: scale(1) rotateY(0deg);
}

#swapping:after {
  left: -100%;
  opacity: 0;
  transform: scale(0) rotateY(0deg);
}

#swapping:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

#swapping:hover:after {
  left: 0;
  opacity: 1;
  transform: scale(1) rotateY(360deg);
}

#circles3 {
  color: darkcyan;
  border: 2px solid darkcyan;
  transition: all 0.5s;
}

#circles3 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  transform: scale(0);
  border-radius: 100%;
  transition: all 0.3s;
  z-index: -1;
}

#circles3:before,
#circles3:after {
  content: "";
  background: darkcyan;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transform: translateY(-50%);
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
}

#circles3:before {
  left: 0;
  box-shadow: -100px 0 0 darkcyan;
}

#circles3:after {
  right: 0;
  box-shadow: 100px 0 0 darkcyan;
}

#circles3:hover {
  color: white;
  transition-delay: 0.4s;
}

#circles3:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
  border-radius: 0;
}

#circles3:hover:before {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 30px 0 0 darkcyan;
  opacity: 1;
}

#circles3:hover:after {
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  box-shadow: -30px 0 0 darkcyan;
  opacity: 1;
}

#red-blue {
  color: white;
  background: transparent;
  transition: all 1s;
}

#red-blue:before,
#red-blue:after {
  content: "";
  background: darkcyan;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.5s;
}

#red-blue:before {
  top: -3px;
  left: -3px;
  background: #20caff;
  transform-origin: top;
}

#red-blue:after {
  top: 3px;
  left: 3px;
  background: #ff7675;
  transform-origin: bottom;
}

#red-blue:hover {
  color: darkcyan;
}

#red-blue:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

#red-blue:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

#split {
  border: 2px solid darkcyan;
  transition: all 0.5s;
}

#split:before,
#split:after,
#split span:before,
#split span:after {
  content: "";
  position: absolute;
  background: darkcyan;
  width: 25%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
}

#split:before {
  top: 0;
  left: -25%;
}

#split:after {
  top: -100%;
  left: 25%;
}

#split span:before {
  top: 100%;
  right: 25%;
}

#split span:after {
  top: 0;
  right: -25%;
}

#split:hover {
  color: white;
}

#split:hover:before {
  top: 0;
  left: 0;
}

#split:hover:after {
  top: 0;
}

#split:hover span:before {
  top: 0;
}

#split:hover span:after {
  right: 0;
}

#split2 {
  border: 2px solid darkcyan;
  transition: all 0.5s;
}

#split2:before,
#split2:after,
#split2 span:before,
#split2 span:after {
  content: "";
  position: absolute;
  background: darkcyan;
  width: 25%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
}

#split2:before {
  top: 100%;
  left: 0;
}

#split2:after {
  top: -100%;
  left: 25%;
}

#split2 span:before {
  top: 100%;
  right: 25%;
}

#split2 span:after {
  top: -100%;
  right: 0;
}

#split2:hover {
  color: white;
}

#split2:hover:before {
  top: 0;
}

#split2:hover:after {
  top: 0;
}

#split2:hover span:before {
  top: 0;
}

#split2:hover span:after {
  top: 0;
}

#split3 {
  border: 2px solid darkcyan;
  transition: all 0.5s;
}

#split3:before,
#split3:after,
#split3 span:before,
#split3 span:after {
  content: "";
  position: absolute;
  background: darkcyan;
  width: 25%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s;
}

#split3:before {
  top: 100%;
  left: 0;
}

#split3:after {
  top: -100%;
  left: 25%;
  transition-delay: 0.1s;
}

#split3 span:before {
  top: 100%;
  right: 25%;
  transition-delay: 0.2s;
}

#split3 span:after {
  top: -100%;
  right: 0;
  transition-delay: 0.3s;
}

#split3:hover {
  color: white;
}

#split3:hover:before {
  top: 0;
}

#split3:hover:after {
  top: 0;
}

#split3:hover span:before {
  top: 0;
}

#split3:hover span:after {
  top: 0;
}

#swap-border {
  overflow: visible;
}

#swap-border:before,
#swap-border:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
}

#swap-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% + 30px);
  top: -15px;
  left: 0;
  border-left: 2px solid cornflowerblue;
  border-right: 2px solid tomato;
  transition: all 1s;
}

#swap-border:after {
  content: "";
  position: absolute;
  width: calc(100% + 30px);
  height: 100%;
  top: 0;
  left: -15px;
  border-top: 2px solid cornflowerblue;
  border-bottom: 2px solid tomato;
  transition: all 1s;
  transition-delay: 0.2s;
}

#swap-border:hover:before {
  transform: rotateY(180deg);
}

#swap-border:hover:after {
  transform: rotateX(-180deg);
}

#grow-border {
  background: darkcyan;
  color: white;
  overflow: visible;
}

#grow-border:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-left: 2px solid darkcyan;
  border-top: 2px solid darkcyan;
  transition: all 0.5s;
}

#grow-border:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-right: 2px solid darkcyan;
  border-bottom: 2px solid darkcyan;
  transition: all 0.5s;
}

#grow-border:hover:before,
#grow-border:hover:after {
  height: 100%;
  width: 100%;
}

#first-letter {
  border: 2px solid darkcyan;
  overflow: visible;
  transition: all 0.2s;
}

#first-letter span {
  color: transparent;
  position: relative;
}

#first-letter span:before {
  content: "F";
  color: darkcyan;
  position: absolute;
  transition: all 0.2s;
}

#first-letter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  opacity: 0;
  z-index: -1;
  transition: all 0.8s;
}

#first-letter:hover {
  color: white;
}

#first-letter:hover span:before {
  color: white;
  font-size: 2.6em;
  transform: translate(-60%, -42%) rotate(360deg);
}

#first-letter:hover:before {
  opacity: 1;
  transform: rotate(10deg);
}

#four-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: darkcyan;
  transition: all 0.5s;
}

#four-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: darkcyan;
  transition: all 0.5s;
}

#four-border span:before {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: darkcyan;
  transition: all 0.5s;
}

#four-border span:after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: darkcyan;
  transition: all 0.5s;
}

#four-border:hover:before {
  left: 0;
}

#four-border:hover:after {
  right: 0;
}

#four-border:hover span:before {
  top: 0;
}

#four-border:hover span:after {
  bottom: 0;
}

#wavy {
  border: 2px solid darkcyan;
  transition: all 0.5s;
}

#wavy span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background: darkcyan;
  transition: all 1s;
  z-index: -1;
}

#wavy span:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url("../src/img/wave.png");
  animation: wavy 0.5s linear infinite;
}

#wavy:hover {
  color: white;
}

#wavy:hover span {
  top: 0;
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 118px;
  }
}

#glitch {
  overflow: visible;
  padding: 0;
}

#glitch span {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkcyan;
  padding: 10px 30px;
  pointer-events: none;
}

#glitch:hover span {
  animation: glitch 3s linear infinite;
}

@keyframes glitch {
  0% {
    transform: rotateX(10deg) skewX(90deg);
    background-color: #0ffbf9;
    filter: blur(3px);
  }

  1% {
    transform: none;
    background-color: darkcyan;
    filter: blur(0);
  }

  2% {
    transform: rotateX(10deg) skewX(90deg);
    background-color: #cc0f39;
    filter: blur(3px);
  }

  3% {
    transform: rotateX(12deg) skewX(79deg);
    background-color: darkcyan;
    filter: blur(0);
  }

  4% {
    transform: translateX(20px) skewX(11deg);
    background-color: #0ffbf9;
    filter: blur(3px);
  }

  5% {
    transform: rotateY(10deg) skewY(30deg);
    background-color: darkcyan;
    filter: blur(0);
  }

  6% {
    transform: translateX(-50px) skewX(40deg);
    background-color: #cc0f39;
    filter: blur(3px);
  }

  7% {
    transform: rotateX(7deg) skewX(81deg);
    background-color: darkcyan;
    filter: blur(0);
  }

  8% {
    transform: none;
    filter: none;
    background-color: darkcyan;
  }
}

#two-cuts {
  transition: 0.3s;
}

#two-cuts span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  border: 2px solid darkcyan;
  z-index: -1;
}

#two-cuts span:before {
  content: "";
  position: absolute;
  width: 6%;
  height: 500%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-65deg);
  transition: all 0.3s;
}

#two-cuts:hover {
  color: white;
}

#two-cuts:hover span:before {
  width: 100%;
  background: darkcyan;
  transform: translate(-50%, -50%) rotate(65deg);
}

#two-parts {
  color: white;
  overflow: visible;
}

#two-parts:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -4px;
  background: tomato;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#two-parts:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  right: -1%;
  bottom: -4px;
  background: cornflowerblue;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#two-parts:hover:before {
  transform: skewX(0);
  left: 50%;
  top: 0;
}

#two-parts:hover:after {
  transform: skewX(0);
  right: 50%;
  bottom: 0;
}

#pulsing {
  background: darkcyan;
  color: white;
  border-radius: 100px;
  transition: all 0.3s;
  overflow: visible;
}

#pulsing:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  border-radius: 100px;
  transition: all 0.5s;
  z-index: -1;
}

#pulsing:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#pulsing:hover:before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

#pulsing:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#diagonal {
  border: 2px solid darkcyan;
  transition: all 0.5s;
}

#diagonal:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 26px solid darkcyan;
  border-bottom: 26px solid darkcyan;
  border-right: 26px solid transparent;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 0.5s;
}

#diagonal:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 26px solid darkcyan;
  border-bottom: 26px solid darkcyan;
  border-left: 26px solid transparent;
  z-index: -1;
  transform: translateX(100%);
  transition: all 0.5s;
}

#diagonal:hover {
  color: white;
}

#diagonal:hover:before {
  transform: translateX(0);
}

#diagonal:hover:after {
  transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}