*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

abbr[data-bs-original-title],
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

ul {
  list-style-type: none;
}

dt {
  font-weight: 700;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img {
  display: block;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border: none;
  background: none;
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

* {
  font-family: monospace;
}

body {
  padding: 40px 20px;
  font-size: 20px;
  line-height: 1.5;
  font-family: monospace;
  color: darkcyan;
  font-weight: 400;
}

.title {
  width: 100%;
  font-size: 36px;
  color: darkcyan;
  text-align: left;
  margin-bottom: 48px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background: darkcyan;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  margin: 0 auto 24px 0;
  transition: all 0.4s;
}

.back:hover {
  transform: translateY(-2px);
}

.time-func__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.time-func__element {
  text-transform: uppercase;
  padding: 16px 20px;
  background: darkcyan;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  width: 20%;
  transition: width 3s;
}

.time-func__element div:first-child {
  white-space: nowrap;
  display: block;
  margin-right: 50px;
}

.time-func__element div:last-child {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: all 0.5s 1s;
}

.time-func__element:hover {
  cursor: pointer;
  width: 100%;
}

.time-func__element:hover div:last-child {
  opacity: 1;
}

.time-func__element#ease {
  transition-timing-function: ease;
}

.time-func__element#linear {
  transition-timing-function: linear;
}

.time-func__element#ease-in {
  transition-timing-function: ease-in;
}

.time-func__element#ease-out {
  transition-timing-function: ease-out;
}

.time-func__element#ease-in-out {
  transition-timing-function: ease-in-out;
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  text-align: center;
  background: none;
  border: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
}

.buttons #rotate {
  border: 2px solid darkcyan;
  transition: color 1.4s;
}

.buttons #rotate:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.buttons #rotate:hover {
  color: #fff;
}

.buttons #rotate:hover:before {
  transform: rotate(0deg);
}

.buttons #swipe {
  border: 2px solid darkcyan;
  transition: color 1s;
}

.buttons #swipe:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 1s;
}

.buttons #swipe:hover {
  color: #fff;
}

.buttons #swipe:hover:before {
  transform: translateY(0);
}

.buttons #cross {
  border: 2px solid darkcyan;
  transition: color 1s;
}

.buttons #cross:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transition: transform 1s;
  transform: rotateX(90deg);
}

.buttons #cross:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  z-index: -1;
  transition: transform 1s;
  transform: rotateY(90deg);
}

.buttons #cross:hover {
  color: #fff;
}

.buttons #cross:hover:before {
  transform: rotateX(0deg);
}

.buttons #cross:hover:after {
  transform: rotateY(0deg);
}

.buttons #stretching {
  letter-spacing: 0;
  font-weight: 400;
  outline: 2px solid darkcyan;
  transition: all 0.5s;
}

.buttons #stretching:hover {
  letter-spacing: 2px;
  font-weight: 900;
  outline: 4px solid darkcyan;
}

.buttons #text {
  border: 2px solid darkcyan;
  transition: color 1s;
}

.buttons #text:before {
  content: "cool";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  transform: translateY(-100%);
  transition: transform 1s;
}

.buttons #text:hover {
  color: #fff;
}

.buttons #text:hover:before {
  transform: translateY(0);
}

.buttons #glowing {
  color: darkcyan;
  border: 2px solid darkcyan;
  background: white;
  transition: all 1s;
}

.buttons #glowing:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24px;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: transform 1s;
}

.buttons #glowing:hover {
  color: white;
  background: darkcyan;
}

.buttons #glowing:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.buttons #layers {
  color: darkcyan;
  border: 2px solid darkcyan;
  background: white;
  transition: all 1s;
}

.buttons #layers:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24px;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: transform 1s;
}

.buttons #layers:hover {
  color: white;
  background: darkcyan;
}

.buttons #layers:hover:before {
  transform: translateX(100%) rotate(45deg);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}