.effects {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
    }
}

@import "smoky-text-effect";
@import "text-fill-effect";
@import "social-background-effect";
@import "many-borders-effect";