#text-fill {
    h2 {
        font-weight: 700;
        font-size: 120px;
        letter-spacing: 10px;
        position: relative;
        color: lightsteelblue;
        &:before {
            content: attr(data-hover);
            position: absolute;
            color: darkcyan;
            top: 0;
            left: 0;
            width: 0;
            overflow: hidden;
            transition: all 1s;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}