.cards {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 200px;
    }
}

@import "background-translate-effect";
@import "expandable-card-effect";
@import "png-card-effect";
@import "border-card-effect";
@import "double-face-effect";
@import "layer-cards-effect";
@import "scaling-cards-effect";
@import "img-to-circle-effect";
@import "clip-background-effect";