#background-corners {
    ul {
        display: flex;
        column-gap: 12px;
    }
    a {
        display: block;
        padding: 4px 16px;
        position: relative;
        transition: all 0.5s;
        &:before {
            content: '';
            position: absolute;
            bottom: 12px;
            left: 12px;
            width: 12px;
            height: 12px;
            border-left: 2px solid darkcyan;
            border-bottom: 2px solid darkcyan;
            transition: all 0.5s;
            opacity: 0;
        }
        &:after {
            content: '';
            position: absolute;
            top: 12px;
            right: 12px;
            width: 12px;
            height: 12px;
            border-right: 2px solid darkcyan;
            border-top: 2px solid darkcyan;
            transition: all 0.5s;
            opacity: 0;
        }
        &:hover {
            background: darkcyan;
            color: white;
            &:before {
                opacity: 1;
                bottom: -6px;
                left: -6px;
            }
            &:after {
                opacity: 1;
                top: -6px;
                right: -6px;
            }
        }
    }
}