.menu {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

@import "growing-border-effect";
@import "background-corners-effect";
@import "splitted-background-effect";
@import "two-borders-effect";
@import "blurry-menu-effect";
@import "left-to-right-effect";