#two-borders {
    ul {
        display: flex;
        column-gap: 12px;
    }
    a {
        display: block;
        padding: 4px 16px;
        position: relative;
        transition: all 0.5s;
        &:before {
            content: '';
            position: absolute;
            top: 110%;
            left: 0;
            width: 0;
            height: 4px;
            transition: all 0.5s;
            background: tomato;
        }
        &:after {
            content: '';
            position: absolute;
            top: 110%;
            right: 0;
            width: 0;
            height: 4px;
            transition: all 0.5s;
            background: cornflowerblue;
        }
        &:hover {
            &:before {
                width: 49%;
                transform: translateX(100%);
            }
            &:after {
                width: 49%;
                transform: translateX(-100%);
            }
        }
    }
}