#circles3 {
    color: darkcyan;
    border: 2px solid darkcyan;
    transition: all 0.5s;
    span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: darkcyan;
        transform: scale(0);
        border-radius: 100%;
        transition: all 0.3s;
        z-index: -1;
    }
    &:before, &:after {
        content: '';
        background: darkcyan;
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        transform: translateY(-50%);
        transition: all 0.3s;
        opacity: 0;
        z-index: -1;
    }
    &:before {
        left: 0;
        box-shadow: -100px 0 0 darkcyan;
    }
    &:after {
        right: 0;
        box-shadow: 100px 0 0 darkcyan;
    }
    &:hover {
        color: white;
        transition-delay: 0.4s;
        span {
            transform: scale(1);
            transition-delay: 0.4s;
            border-radius: 0;
        }
        &:before {
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            box-shadow: 30px 0 0 darkcyan;
            opacity: 1;
        }
        &:after {
            right: 50%;
            transform: translateX(50%) translateY(-50%);
            box-shadow: -30px 0 0 darkcyan;
            opacity: 1;
        }
    }
}