#text {
    border: 2px solid darkcyan;
    transition: color 1s;
    &:before {
        content: 'cool';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: darkcyan;
        transform: translateY(-100%);
        transition: transform 1s;
    }
    &:hover {
        color: #fff;
        &:before {
            transform: translateY(0);
        }
    }
}