@import 'base/reboot';
@import 'partials/time-function';

* {
    font-family: monospace;
}

body {
    padding: 40px 20px;
}

.title {
    width: 100%;
    font-size: 36px;
    color: darkcyan;
    text-align: left;
    margin-bottom: 48px;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: fit-content;
    color: #fff;
    background: darkcyan;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    margin: 0 auto 24px 0;
    transition: all 0.4s;
    &:hover {
        transform: translateY(-2px);
    }
}