#images-effect-3 {
    .descr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        background: darkcyan;
        transition: all 0.5s;
        transform: translateX(-100%);
    }
    img {
        transition: all 0.5s;
    }
    &:hover {
        img {
            transform: translateX(100%);
        }
        .descr {
            transform: translateX(0);
        }
    }
}