#images-effect-4 {
    .descr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        background: darkcyan;
        transition: all 0.5s;
        transform: translateY(100%);
    }
    img {
        transition: all 0.5s;
    }
    &:hover {
        img {
            transform: translateY(-30%);
        }
        .descr {
            transform: translateY(0);
        }
    }
}