.images {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    .container {
        width: 500px;
        height: 500px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .subtitle {
        font-size: 32px;
        color: inherit;
        text-transform: lowercase;
        margin-bottom: 16px;
    }
    .text {
        color: inherit;
        text-transform: lowercase;
        font-size: 20px;
    }
}

@import "image-effect-1";
@import "image-effect-2";
@import "image-effect-3";
@import "image-effect-4";
@import "image-effect-5";
@import "image-effect-6";
@import "image-effect-7";
@import "image-effect-8";