.animations {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

@import "smoky-text-effect";
@import "text-fill-effect";
@import "social-background-effect";
@import "many-borders-effect";
@import "text-floating-effect";
@import "rotating-loading-effect";
@import "city-bg-effect";
@import "rotating-text-effect";
@import "background-pattern-effect";
@import "lightning-text-effect";
@import "heartbeat-effect";
@import "text-background-effect";
@import "bouncing-loading-effect";
@import "icons-hover-effect";
@import "text-loading-effect";
@import "pulse-effect";
@import "newton-cradle-effect";
@import "color-squares-effect";
@import "moving-squares-effect";
@import "text-reveal-effect";
@import "rotating-ring-effect";
@import "line-loading-effect";
@import "growing-lines-effect";
@import "few-rings-rotate-effect";
@import "fading-squares-effect";
@import "background-boxes-effect";
@import "hexagon-loader-effect";
@import "growing-boxes-effect";