#clip-popup {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        width: 480px;
        background: darkcyan;
        padding: 20px;
        border-radius: 10px;
        transition: all 0.5s;
        color: white;
        clip-path: circle(8% at 92% 12%);
        h2 {
            margin-bottom: 16px;
        }
        &:hover {
            clip-path: circle(72% at 50% 50%);
        }
    }
}