#color-squares {
    min-height: 360px;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .squares {
        position: relative;
        width: 100px;
        height: 100px;
        animation: sizesSquares 1s linear infinite;
        transform: rotate(45deg);
        span {
            position: absolute;
            width: 50px;
            height: 50px;
            animation: rotateSquares 1s linear infinite;
            &:nth-child(1) {
                top: 0;
                left: 0;
                background: greenyellow;
            }
            &:nth-child(2) {
                top: 0;
                right: 0;
                background: tomato;
            }
            &:nth-child(3) {
                bottom: 0;
                right: 0;
                background: darkcyan;
            }
            &:nth-child(4) {
                bottom: 0;
                left: 0;
                background: cornflowerblue;
            }
        }
    }

    @keyframes sizesSquares {
        0% {
            width: 100px;
            height: 100px;
        }
        10% {
            width: 100px;
            height: 100px;
        }
        50% {
            width: 150px;
            height: 150px;
        }
        90% {
            width: 100px;
            height: 100px;
        }
        100% {
            width: 100px;
            height: 100px;
        }
    }
    @keyframes rotateSquares {
        0% {
            transform: rotate(0);
        }
        10% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(90deg);
        }
        90% {
            transform: rotate(90deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }
}