#split-images {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .images {
        width: 800px;
        height: 500px;
        position: relative;
        &:hover {
            .clip1 {
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            }
            .clip2 {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            .clip3 {
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            }
        }
        .clip {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: clip-path 0.5s;
        }
        .clip1 {
            background: url("../src/img/clip1.jpg") no-repeat center / cover;
            clip-path: polygon(0 0, 20% 0, 40% 100%, 0 100%);
            &:hover {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        .clip2 {
            background: url("../src/img/clip2.jpg") no-repeat center / cover;
            clip-path: polygon(20% 0, 80% 0, 60% 100%, 40% 100%);
            z-index: -1;
            &:hover {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        .clip3 {
            background: url("../src/img/clip3.jpg") no-repeat center / cover;
            clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
            &:hover {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}