#text-loading {
    padding: 100px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li {
        color: tomato;
        font-size: 80px;
        letter-spacing: 10px;
        text-transform: uppercase;
        animation: loadingText 3s linear infinite;
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:nth-child(4) {
            animation-delay: 0.6s;
        }
        &:nth-child(5) {
            animation-delay: 0.8s;
        }
        &:nth-child(6) {
            animation-delay: 1s;
        }
        &:nth-child(7) {
            animation-delay: 1.2s;
        }
    }
    @keyframes loadingText {
        0% {
            color: tomato;
            transform: translateX(-50px);
            letter-spacing: 10px;
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        50% {
            letter-spacing: -10px;
            opacity: 1;
        }
        100% {
            color: darkslateblue;
            transform: translateX(50px);
            letter-spacing: 10px;
            opacity: 0;
        }
    }
}