#text-reveal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: darkcyan;
    h2 {
        font-size: 80px;
        letter-spacing: 6px;
        color: white;
        position: relative;
        &:before {
            content: 'loading...';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: tomato;
            border-right: 4px solid tomato;
            animation: textReveal 5s linear infinite;
            overflow: hidden;
        }
    }

    @keyframes textReveal {
        0% {
            width: 0;
        }
        50% {
            width: 100%;
        }
        100% {
            width: 0;
        }
    }
}